<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabpage1">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Album</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabpage2">
      <ion-icon name="folder-open"></ion-icon>
      <ion-label>Media</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabpage3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
