<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Album
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Album</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <img [src]="currentImage" *ngIf="currentImage">
    <img src="file:///var/mobile/Containers/Data/Application/AAEE5DA6-883D-44D4-9235-5861AC066774/tmp/cdv_photo_010.jpg">
    <video id="video1" [src]="currentVideo" *ngIf="currentVideo"></video>
    <ion-button color="primary" full (click)="loadPicture()">Load Image</ion-button>
    <ion-button color="success" full (click)="loadVideo()">Load Video</ion-button>

  </div>
</ion-content>
